* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

header {
  margin-top: 50px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  background-color: red;
}

.cuerpo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div > img {
  width: 160px;
  height: 260px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 160px;
  height: 260px;
  background-color: rgb(172, 221, 241);
  border: 1.5px outset black;
  border-radius: 15px;
  font-size: 1.2em;
  text-align: center;
  box-shadow: 10px 10px 10px black;
}

.card > img {
  margin-top: 20px;
  width: 160px;
  height: 180px;
}

p {
  margin-top: 20px;
}

button {
  font-size: 15px;
  margin-top: 50px;
  padding: 10px 20px;
  background-color: #f5ed00;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #08b4fd;
}

button:active {
  background-color: #f9ffa8;
}